:root {
  --white: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #0366d6;
}

.center-container {
  min-height: 75vh; 
  min-width: 100vh;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.background-white {
  background: var(white)
}

